body.dark {
    color: #afafaf;
    background: #171f2a;
}


/* <Toggle Button> */

.toggle-theme {
    background: #171f2a;
    color: #afafaf;
    border: none;
}

#button-dark {
    background-color: inherit;
    color: #171f2a;
}


/* </Toggle Button> */

/* Search Widget */
body.dark .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
    padding: 0 !important;
    border: none;
}
body.dark .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {
    border-radius: 5px;
    padding: 10px 15px;
}

body.dark .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button {
    background: #29323d;
    color: #afafaf;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
}

/* </SEarch WIdget */

body.dark input,
body.dark textarea {
    background: #212831;
    color: #afafaf;
}

body.dark textarea {
    border: 1px solid #232931;
}

body.dark article p {
    color: #afafaf;
}


/* Pagination */

body.dark ul.pagination a {
    background: #212831;
    border: none;
    color: #afafaf;
}

body.dark ul.pagination li.active .page-link {
    background: #1f2c3d !important;
    border: #1f2c3d;
}


/* Pagination */


/* Sub menu */

body.dark .menu-main-menu-container .menu .menu-item.menu-item-has-children:hover .sub-menu {
    display: block;
    position: absolute;
    background: #1f2c3d;
    border: none;
    padding: 0px;
    border-radius: 10px;
}

body.dark .menu-main-menu-container .menu .menu-item.menu-item-has-children .sub-menu .menu-item:hover a {
    text-decoration: none;
    background: #272d35;
    border-radius: 10px;
}

body.dark .border-top {
    border-top: 1px solid #2c3035 !important;
}

body.dark article a {
    color: #afafaf;
}

body.dark a:hover {
    color: #e40aad;
    text-shadow: 1px 1px 1px #312e2e;
}

body.dark a {
    color: #afafaf;
}

body.dark .content a {
    color: #e40aad;

    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-style: dotted;
}

/* Table Content */


body.dark .content table tr:nth-child(odd) {
    background: #1b2638;
}

body.dark .content table tr:nth-child(even) {
    background: #161d2c
}


body.dark .wp-block-table.is-style-stripes {
    border-bottom: 0;
}

/* /Table Content */